@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

:root {
  /* Цветовая палитра */
  --color-gold: #DAA520;
  --color-rose-gold: #FFDAB9;
  --color-cream: #FFFDD0;
  --color-red: #DC143C;
  --color-green: #006400;
  --color-black: #000000;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--color-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Типографика по рекомендациям */
h1 {
  font-size: 36px;
  color: var(--color-red);
}

h2 {
  font-size: 24px;
  color: var(--color-gold);
}

h3 {
  font-size: 18px;
  color: var(--color-gold);
}

.small-text {
  font-size: 12px;
  color: var(--color-green);
}
